vpro {
  position: absolute;
  width: 100%;
  height: 100%;
}

extrasmall {
  font-size: 0.6em;
}

.overlay {
  position: absolute;
}


.help {
  background: #222;
  color: white;
  width: 45%;
  height: 100%;
  font-size: 1.6em;
  padding: 1em;
  box-sizing: border-box;
  right: 0;
  overflow: auto;
}

.help p {
  padding: 0.2em;
  transition: all 0.8s;
}
.help p.completed {
  box-shadow: 0px 0px 2px 0px green;
}

.help .long {
  font-size: 0.75em;
}

.help span.atom {
  white-space: nowrap;
}
.files .file {
  position: absolute;
  color: #222;
  font-size: 3em;
  text-shadow: 1px 1px 2px black;
}

.flash {
  font-size: 8em;
  padding: 0.2em;
  position: absolute;
  background: black;
  color: white;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}



grid {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  user-select: none;
  cursor: pointer;
  background: gray;
}

atom {
  position: absolute;
}

atom .wrap,
atom .ghost,
.help span.atom {
  display: inline-flex;
  color: black;
  padding: 0.05em 0.5em;
  background: white;
  box-shadow: 0px 0px 4px -2px black;
  transition: box-shadow 0.06s;
}

atom .ghost {
  display: flex;
}

atom .name {
  display: flex;
}

atom input {
  font-size: 0.8em;
  width: 6em;
}

atom .ghost {
  opacity : 0.5;
}

atom .target {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
}

atom .target:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  background: orange;
  opacity: 0;
  transition: opacity 0.2s;
  border-radius: 2px 0 0 0;
}

atom .target:hover:after,
atom.dragging .target:after {
  opacity: 100;
}

atom.selected {
  border-radius: 2px;
  box-shadow: 0px 0px 2px 1px orange;
}

.selection {
  background: orange;
  opacity: 0.1;
  border: 1px solid red;
}
