body {
  padding: 0;
  margin: 0;
}

vpro {
  display: flex;
  flex-flow: row;
  max-height: 90vh;
}

side {
  flex: 1 1 auto;
  padding: 0.2em;
  display: flex;
  flex-flow: column;
  gap: 0.2em;
  max-width: 240px;
}

side ol {
  padding: 0.2em;
}


.logs-wrap {
  overflow: hidden;
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.log-messages {
  flex: 1 1 auto;
  color: #ccc;
  background: #222;
  height: 100%;
  overflow-y: auto;
  list-style: none;
  overflow-wrap: break-word;
  word-break: break-word;
}


grid {
  flex: 4 1 auto;
  user-select: none;
  cursor: pointer;
  flex-grow: 1;
  background: gray;
  position: relative;
  aspect-ratio: 1/1;
}

atom {
  position: absolute;
  padding: 0.1em 0.5em;
  background: white;
  box-shadow: 1px 1px 4px -2px black;
}

atom.selected {
  border: 2px solid orange;
  border-radius: 2px;
}

.selection {
  background: orange;
  opacity: 0.1;
  border: 1px solid red;
}
